<!--orders.ejs-->
<%- include ../header.ejs %>   
<style>
	@font-face {
			font-family: THSarabunNew;
			font-weight: normal;
			font-style: normal;
			src: url("/<%=appname%>/font/THSarabunNew.ttf");
	}
	button {width: 100%;}
	input[type='button'] {/*line-height: 0.8*/ height: 40px;}
	.align-center {text-align: center;}
	#data-message {display: none;}
	.ItemHeader {padding: 4px; background-color: #4af091; cursor: pointer;}
	.ItemContent {padding: 4px; display: none; background-color: #dafce9;}
	.ItemHeaderServ {padding: 4px; background-color: #ff9900; cursor: pointer;}
	.ItemContentServ {padding: 4px; display: none; background-color: #ffcccc;}

	.OrderContent {border: 3px solid #ff3300; padding: 4px; }
	.OrderContent p {line-height: 0.45}
	.OrderContent a {line-height: 0.45}
	#DiscountFormDiv, #AddOrderFormDiv, #CloseBillFormDiv, #ChangeItemStatusFormDiv, #EditItemPriceFormDiv, #EditAmountFormDiv, #CheckinFormDiv, #CreateBillFormDiv {display: none; padding: 4px;}
	.fbchannel {background-color: #3300cc; color: white; padding: 4px; border-radius: 15px;}
	.lnchannel {background-color: #33cc00; color: white; padding: 4px; border-radius: 15px;}
	.ItemStatus-Cancel {background-color: #808080; color: white; padding: 4px; border-radius: 15px; font-size: 65%; cursor: pointer;}
	.ItemStatus-New {background-color: #ff0000; color: white; padding: 4px; border-radius: 15px; font-size: 65%; cursor: pointer;}
	.ItemStatus-Pending {background-color: #ffff66; color: black; padding: 4px; border-radius: 15px; font-size: 65%; cursor: pointer;}
	.ItemStatus-Deliveried {background-color: #33cc00; color: white; padding: 4px; border-radius: 15px; font-size: 65%; cursor: pointer;}
	#Log p {border: 1px solid #330033; padding: 4px; }
</style>
<div id="data-message" class="align-center">

</div>
<h2 class="align-center">รายการออเดอร์</h2>
<div id="data-display">
	<div id="ListOrderDiv">

	</div>
	<div id="DiscountFormDiv">
		<label for="discount">จำนวนเงิน</label>
		<input type="text" id="discount"/>&nbsp;&nbsp;บาท
		<button id="saveDiscoutBtt">ตกลง</button>
	</div>

	<div id="AddOrderFormDiv">
		<h3>เพิ่มรายการออเดอร์</h3>
		<div class="GListBox">
			<label for="group">กลุ่มเมนู</label>
			<select id="group" onchange="doGroupChange()"></select>
		</div>
		<div class="ItemListBox">
			<label for="item">เมนู</label>
			<select id="item"></select>
		</div>
		<div class="AmountBox">
			<label for="amount">จำนวน</label>
			<input type="text" id="amount"/>
		</div>
		<button id="saveAddItemBtt">ตกลง</button>
	</div>

	<div id="CloseBillFormDiv">
		<h3>ระบุวิธีชำระเงินเพื่อปิดบิล</h3>
		<label for="paytype">วิธีชำระเงิน</label>
		<select id="paytype">
			<option value="1">เงินสด</option>
			<option value="2">พร้อมเพย์</option>
		</select>
		<button id="closeBillBtt">ตกลง</button>
	</div>

	<div id="CreateBillFormDiv">
		<h3>จำนวนเงินที่รับจากลูกค้า</h3>
		<label for="payamount">จำนวนเงิน</label>
		<input type="text" id="payamount" size="6"/>&nbsp;&nbsp;บาท
		<button id="createBillBtt">ตกลง</button>
	</div>

	<div id="ChangeItemStatusFormDiv">
		<h3>แก้ไขสถานะรายการออเดอร์</h3>
		<label for="itemstatus">สถานะรายการออเดอร์</label>
		<select id="itemstatus">
			<option value="0">ยกเลิก</option>
			<option value="2">ดำเนินการ</option>
			<option value="3">ส่งมอบแล้ว</option>
		</select>
		<button id="changeStatusBtt">ตกลง</button>
	</div>

	<div id="EditItemPriceFormDiv">
		<h3>แก้ไขราคาต่อหน่วย</h3>
		<label for="itemprice">ราคาต่อหน่วย</label>
		<input type="text" id="itemprice" size="6"/>&nbsp;&nbsp;บาท
		<button id="editItemPriceBtt">ตกลง</button>
	</div>

	<div id="EditAmountFormDiv">
		<h3>แก้ไขจำนวนหน่วย</h3>
		<label for="editamount">จำนวนหน่วย</label>
		<input type="text" id="editamount" size="6"/>&nbsp;&nbsp;หน่วย
		<button id="editAmountBtt">ตกลง</button>
	</div>
</div>
<div id="Log"></div>
<!-- including footer content which is common for all pages -->
<%- include ../footer.ejs %>

<script>
	function getOrderList(){
		var dfr = $.Deferred();
		var routeUrl = "/" + appname+ "/webhook/orderviews/" + cookie[0].shopid;
		$.get(routeUrl, params, function(data){
			dfr.resolve(data);
		}).fail(function(error) { 
			console.log(JSON.stringify(error));
			dfr.reject(error); 
		});
		return dfr.promise();
	}

	function deleteOrder(lpsid){
		var dfr = $.Deferred();
		var routeUrl = "/" + appname+ "/webhook/deleteorder/" + lpsid;
		$.get(routeUrl, params, function(data){
			dfr.resolve(data);
		}).fail(function(error) { 
			console.log(JSON.stringify(error));
			dfr.reject(error); 
		});
		return dfr.promise();
	}

	function deleteOrderItem(lpsid, itemid, amount){
		var dfr = $.Deferred();
		var routeUrl = "/" + appname+ "/webhook/deleteorderitem/" + lpsid + "/" + itemid + "/" + amount;
		$.get(routeUrl, params, function(data){
			dfr.resolve(data);
		}).fail(function(error) { 
			console.log(JSON.stringify(error));
			dfr.reject(error); 
		});
		return dfr.promise();
	}
	
	function changeStatusOrderItem(lpsid, itemid, amount, itemstatus) {
		var dfr = $.Deferred();
		var routeUrl = "/" + appname+ "/webhook/changestatusorderitem/" + lpsid + "/" + itemid + "/" + amount + "/" + itemstatus;
		$.get(routeUrl, params, function(data){
			dfr.resolve(data);
		}).fail(function(error) { 
			console.log(JSON.stringify(error));
			dfr.reject(error); 
		});
		return dfr.promise();
	}

	function discountOrder(userId, discount){
		var dfr = $.Deferred();
		var routeUrl = "/" + appname+ "/webhook/discountorder/" + userId + "/" + discount;
		$.get(routeUrl, params, function(data){
			dfr.resolve(data);
		}).fail(function(error) { 
			console.log(JSON.stringify(error));
			dfr.reject(error); 
		});
		return dfr.promise();
	}

	function getCustomerProfile(lpsid){
		var dfr = $.Deferred();
		var routeUrl;
		if(lpsid.charAt(0)=="U") {
			routeUrl = "/" + appname+ "/webhook/userprofile/" + lpsid + "/" + cookie[0].laccid;
		} else {
			routeUrl = "/mfood/webhook/userprofile/" + lpsid;
		}
		console.log("routeUrl -> " + routeUrl);
		console.log("lpsid -> " + lpsid);
		$.get(routeUrl, params, function(data){
			console.log(JSON.stringify(data));
			if(lpsid.charAt(0)=="U") {
				dfr.resolve(data);
			} else {
				var udata = {displayName: data.first_name + " " + data.last_name, pictureUrl: data.profile_pic};
				dfr.resolve(udata);
			}
		}).fail(function(error) { 
			console.log(JSON.stringify(error));
			dfr.reject(error); 
		});
		return dfr.promise();
	}

	function getGroupList(){
		var dfr = $.Deferred();
		var routeUrl = "/" + appname+ "/fooditem/allgroup";
		$.post(routeUrl, params, function(data){
			dfr.resolve(data);
		}).fail(function(error) { 
			console.log(JSON.stringify(error));
			dfr.reject(error); 
		});
		return dfr.promise();
	}

	function getItemList(groupid){
		var dfr = $.Deferred();
		var routeUrl = "/" + appname+ "/fooditem/itemlist/" + groupid;
		$.post(routeUrl, params, function(data){
			dfr.resolve(data);
		}).fail(function(error) { 
			console.log(JSON.stringify(error));
			dfr.reject(error); 
		});
		return dfr.promise();
	}

	function getItem(itemid){
		var dfr = $.Deferred();
		var routeUrl = "/" + appname+ "/fooditem/item/" + itemid;
		$.post(routeUrl, params, function(data){
			dfr.resolve(data);
		}).fail(function(error) { 
			console.log(JSON.stringify(error));
			dfr.reject(error); 
		});
		return dfr.promise();
	}

	function postAddItemOrder(userId, data){
		var dfr = $.Deferred();
		var routeUrl = "/" + appname+ "/webhook/additem/" + userId;
		params = data;
		$.post(routeUrl, params, function(data){
			dfr.resolve(data);
		}).fail(function(error) { 
			console.log(JSON.stringify(error));
			dfr.reject(error); 
		});
		return dfr.promise();
	}

	function postCloseBill(userId, paytype, netAmount){
		var dfr = $.Deferred();
		var routeUrl = "/" + appname+ "/webhook/closebill/" + userId + "/" + cookie[0].shopid + "/" + cookie[0].laccid;
		params = {paytype: paytype, netAmount: netAmount};
		$.post(routeUrl, params, function(data){
			dfr.resolve(data);
		}).fail(function(error) { 
			console.log(JSON.stringify(error));
			dfr.reject(error); 
		});
		return dfr.promise();
	}

	function doCheckin(userId, dinid) {
		var dfr = $.Deferred();
		var routeUrl = "/" + appname+ "/webhook/checkin/" + userId;
		params = {dinid: dinid};
		$.post(routeUrl, params, function(data){
			dfr.resolve(data);
		}).fail(function(error) { 
			console.log(JSON.stringify(error));
			dfr.reject(error); 
		});
		return dfr.promise();
	}

	function updateItemAmount(userId, itemid, amount, newAmount) {
		var dfr = $.Deferred();
		var routeUrl = "/" + appname+ "/webhook/updateitemamount/" + userId;
		params = {itemid: itemid, amount: amount, newAmount: newAmount};
		$.post(routeUrl, params, function(data){
			dfr.resolve(data);
		}).fail(function(error) { 
			console.log(JSON.stringify(error));
			dfr.reject(error); 
		});
		return dfr.promise();
	}

	function updateItemPrice(userId, itemid, amount, newItemPrice) {
		var dfr = $.Deferred();
		var routeUrl = "/" + appname+ "/webhook/updateitemprice/" + userId;
		params = {itemid: itemid, amount: amount, newItemPrice: newItemPrice};
		$.post(routeUrl, params, function(data){
			dfr.resolve(data);
		}).fail(function(error) { 
			console.log(JSON.stringify(error));
			dfr.reject(error); 
		});
		return dfr.promise();
	}

	function saveOrder(userId, payAmount, total) {
		var dfr = $.Deferred();
		var routeUrl = "/" + appname+ "/webhook/saveorder/" + userId  + "/" + cookie[0].shopid;
		params = {payAmount: payAmount, total: total};
		$.post(routeUrl, params, function(data){
			dfr.resolve(data);
		}).fail(function(error) { 
			console.log(JSON.stringify(error));
			dfr.reject(error); 
		});
		return dfr.promise();
	}

	function createBill(userId, payAmount, total, orderid) {
		var dfr = $.Deferred();
		var routeUrl = "/" + appname+ "/webhook/createbill/" + userId  + "/" + cookie[0].shopid + "/" + cookie[0].laccid;
		params = {payAmount: payAmount, total: total, orderid: orderid};
		$.post(routeUrl, params, function(data){
			dfr.resolve(data);
		}).fail(function(error) { 
			console.log(JSON.stringify(error));
			dfr.reject(error); 
		});
		return dfr.promise();
	}

	function doCheckBillClosed(userId){
		var dfr = $.Deferred();
		var routeUrl = "/" + appname+ "/webhook/billclosed/" + userId;
		params = {};
		$.post(routeUrl, params, function(data){
			dfr.resolve(data);
		}).fail(function(error) { 
			console.log(JSON.stringify(error));
			dfr.reject(error); 
		});
		return dfr.promise();
	}
</script>

<script>
	$(document).ready(function() {
		doLoadOrderList();
	});

	function doLoadOrderList(){
		$.when(getOrderList()).done(function(ordData) {
			//$("#Log").append("<p>" + JSON.stringify(ordData) + "</p>");
			$("#ListOrderDiv").empty();
			$("#ListOrderDiv").append("<h2>จำนวนออเดอร์ทั้งหมดที่มีในขณะนี้ " +ordData.length + " รายการ จัดแยกตามประเภท ดังนี้</h2>");

			var walkinOrderTypeBB = $("<div></div>");
			walkinOrderTypeBB.append("<h3 class='ItemHeader align-center ' onclick='toggleContent(11)'>ส่งของแล้วเก็บเงิน</h3>");
			var walkinOrderTypeBBList = $("<div class='ItemContent' id='11'></div>");

			var walkinOrderTypeBL = $("<div></div>");
			walkinOrderTypeBL.append("<h3 class='ItemHeader align-center ' onclick='toggleContent(12)'>ส่งของทางไปรษณีย์</h3>");
			var walkinOrderTypeBLList = $("<div class='ItemContent' id='12'></div>");

			var bookingOrderTypeOT = $("<div></div>");
			bookingOrderTypeOT.append("<h3 class='ItemHeaderServ align-center ' onclick='toggleContent(\"00\")'>อื่นๆ</h3>");
			var bookingOrderTypeOTList = $("<div class='ItemContentServ' id='00'></div>");

			ordData.forEach(function(item, inx){
				var len = item.userId.length;
				var userId = (item.userId).substring(1, len-1);
				var tempOrder = $.parseJSON(item.tempOrder);
				//$("#Log").append("<p>" + (inx+1) + ". " + JSON.stringify(tempOrder) + "&nbsp;&nbsp;<input type='button' value=' ลบ ' onclick='doDeleteOrder(" + item.userId + ")'/></p>");
				var order = $("<div class='OrderContent'></div>");
				var total = 0;
				tempOrder.forEach(function(food, inx){
					//$("#Log").append("<p>" + (inx+1) + ". " + JSON.stringify(food) + "&nbsp;&nbsp;</p>");
					var sum = Number(food.itemprice) * Number(food.amount);
					total = total + sum;
					var statusText = doTransformStatus(food.itemstatus);
					var statusTag = "<span class='ItemStatus-" + statusText  +"' onclick='doToggleChangeItemStatus(" + item.userId + "," + food.itemid + "," + food.amount + ")'>" + statusText + "</span>";
					var orderItemText = "<p>" + (inx+1) + ". " + food.itemname + " จำนวน <a href='#' onclick='doEditAmount(" + item.userId + "," + food.itemid + "," + food.amount + ")'>" + food.amount + "</a> " + food.itemunit ;
					if((food.gtype == "serv") || (food.dfrm)){
						orderItemText = orderItemText.concat(" [เริ่มวันที่ " + food.dfrm + "] ");
					}
					orderItemText = orderItemText.concat(" = <a href='#' onclick='doEditItemPrice(" + item.userId + "," + food.itemid + "," + food.amount + "," + food.itemprice + ")'>" + sum + "</a>&nbsp;&nbsp;บาท" + "&nbsp;&nbsp;<a href='#' onclick='doDeleteOrderItem(" + item.userId + "," + food.itemid + "," + food.amount + ")'>ลบ</a>&nbsp;&nbsp;" + statusTag + "</p>");
					$(order).append(orderItemText);
				});
				$(order).append("<p><b>รวมทั้งหมด</b>&nbsp;&nbsp;" + total + "&nbsp;&nbsp;บาท</p>");
				$(order).append("<p><b>ส่วนลด</b>&nbsp;&nbsp;" + item.tempDiscount + "&nbsp;&nbsp;บาท</p>");
				total = total - Number(item.tempDiscount);
				$(order).append("<p><b>รวมสุทธิ</b>&nbsp;&nbsp;<span id='netAmount'>" + total + "</span>&nbsp;&nbsp;บาท</p>");
				var controlOrderDiv = $("<div class='controlOrderDiv'></div>");
				$(controlOrderDiv).append("<input type='button' value=' กำหนดส่วนลด ' onclick='doOpenDiscountForm(" + item.userId + ")'/>");
				$(controlOrderDiv).append("&nbsp;&nbsp;<input type='button' value=' เพิ่มออเดอร์ ' onclick='doOpenAddOrderForm(" + item.userId + ")'/>");
				$(controlOrderDiv).append("&nbsp;&nbsp;<input type='button' value=' ยกเลิกออเดอร์ ' onclick='doDeleteOrder(" + item.userId + ")'/>");
				$(order).append($(controlOrderDiv));
				$.when(getCustomerProfile(userId)).done(function(userProfile) {
					var orderItem = $("<div></div>");
					if((item.tempOrderType =="1")) {
						$(orderItem).append("<h2 class='align-center'>สั่งรับประทานที่ร้าน</h2>");
						$(orderItem).append("<b>ลูกค้าชื่อ</b>&nbsp;" + userProfile.displayName + "&nbsp;&nbsp;<img width='60' height='60' src='" + userProfile.pictureUrl + "'/>"+ "&nbsp;&nbsp;" +  (userId.charAt(0) != "U"? "&nbsp;&nbsp;<b><span class='fbchannel'>สั่งทางเฟสบุค</span></b>":"&nbsp;&nbsp;<b><span class='lnchannel'>สั่งทางไลน์</span></b>" + (item.tempTelno !== "undefined")?"&nbsp;&nbsp;<b>เบอร์โทร</b>&nbsp;&nbsp;"+item.tempTelno + "":""));
						$(orderItem).append($(order));
						$(walkinOrderTypeBBList).append($(orderItem));
						$(controlOrderDiv).append("&nbsp;&nbsp;<input type='button' value=' ปิดบิล ' onclick='doCheckBiil(" + item.userId + ")'/>");
						$(controlOrderDiv).append("&nbsp;&nbsp;<input type='button' value=' ออกใบเสร็จ	' onclick='doCreateBill(" + item.userId + "," + total + ")'/>");
					}else if((item.tempOrderType =="1")) {
						$(orderItem).append("<h2 class='align-center'>สั่งจองล่วงหน้ามารับประทานที่ร้าน</h2>");
						$(orderItem).append("<b>ลูกค้าชื่อ</b>&nbsp;" + userProfile.displayName + "&nbsp;&nbsp;<img width='60' height='60' src='" + userProfile.pictureUrl + "'/>" + "&nbsp;&nbsp;<b>เบอร์โทร</b>&nbsp;&nbsp;" + item.tempTelno + "&nbsp;&nbsp;<b>เวลา</b>&nbsp;&nbsp;" + item.tempAppTime + (userId.charAt(0) != "U"? "&nbsp;&nbsp;<b><span class='fbchannel'>สั่งทางเฟสบุค</span></b>":"&nbsp;&nbsp;<b><span class='lnchannel'>สั่งทางไลน์</span></b>"));
						$(orderItem).append($(order));
						$(walkinOrderTypeBLList).append($(orderItem));
					}else if((item.tempOrderType =="0") && (item.tempOrderOption == "0")) {
						$(orderItem).append("<h2 class='align-center'>บริการอื่นๆ</h2>");
						$(orderItem).append("<b>ลูกค้าชื่อ</b>&nbsp;" + userProfile.displayName + "&nbsp;&nbsp;<img width='60' height='60' src='" + userProfile.pictureUrl + "'/>" + "&nbsp;&nbsp;<b>เบอร์โทร</b>&nbsp;&nbsp;" + item.tempTelno + /* "&nbsp;&nbsp;<b>วันที่</b>&nbsp;&nbsp;" + food.dfrm + */ (userId.charAt(0) != "U"? "&nbsp;&nbsp;<b><span class='fbchannel'>สั่งทางเฟสบุค</span></b>":"&nbsp;&nbsp;<b><span class='lnchannel'>สั่งทางไลน์</span></b>"));
						$(orderItem).append($(order));
						$(bookingOrderTypeOTList).append($(orderItem));
						$(controlOrderDiv).append("&nbsp;&nbsp;<input type='button' value=' ปิดบิล ' onclick='doCheckBiil(" + item.userId + ")'/>");
						$(controlOrderDiv).append("&nbsp;&nbsp;<input type='button' value=' ออกใบเสร็จ	' onclick='doCreateBill(" + item.userId + "," + total + ")'/>");
						console.log(item.tempOrderType + " : " + item.tempOrderOption);
					}
				});
			});
			walkinOrderTypeBB.append($(walkinOrderTypeBBList));
			walkinOrderTypeBL.append($(walkinOrderTypeBLList));
			bookingOrderTypeOT.append($(bookingOrderTypeOTList));

			$("#ListOrderDiv").append($(walkinOrderTypeBB));
			$("#ListOrderDiv").append($(walkinOrderTypeBL));
			$("#ListOrderDiv").append($(bookingOrderTypeOT));

			$("#DiscountFormDiv").hide();
			$("#AddOrderFormDiv").hide();
			$("#CloseBillFormDiv").hide();
			$("#ChangeItemStatusFormDiv").hide();
		});
	}

	function doDeleteOrder(userId){
		if(confirm("ออเดอร์จะถูกลบทิ้ง\nโปรดยืนยันการยกเลิกออเดอร์โดยตอบ ตกลง")==true){
			$.when(deleteOrder(userId)).done(function(code) {
				//showMessage("ลบออเดอร์สำเร็จ", "#data-message", function() {
					doLoadOrderList();
				//});
			});
		}
	}

	function doDiscountOrder(userId){
		var discount = $("#discount").val();
		if(!(isNaN(discount))  && (discount != "")){
			$.when(discountOrder(userId, discount)).done(function(code) {
				//showMessage("กำหนดส่วนลดให้ลูกค้าสำเร็จ", "#data-message", function() {
					$("#discount").val("");
					$("#DiscountFormDiv").toggle();
					doLoadOrderList();
				//});
			});
		} else {
			alert("โปรดป้อนส่วนลดของลูกค้าเป็นตัวเลขด้วยครับ");
			$("#discount").focus();
		}
	}

	function doDeleteOrderItem(userId, itemid, amount){
		if(confirm("โปรดยืนยันการลบรายการโดยตอบ ตกลง")==true){
			$.when(deleteOrderItem(userId, itemid, amount)).done(function(code) {
				//showMessage("ลบรายการสำเร็จ", "#data-message", function() {
					doLoadOrderList();
				//});
			});
		}
	}

	function doEditAmount(userId, itemid, amount){
		$("#EditAmountFormDiv").toggle();
		$("#editamount").val(amount);
		$("#editAmountBtt").attr("onclick", "doUpdateItemAmount('" + userId + "'," + itemid + "," + amount + ")");
	}

	function doEditItemPrice(userId, itemid, amount, itemprice){
		$("#EditItemPriceFormDiv").toggle();
		$("#itemprice").val(itemprice);
		$("#editItemPriceBtt").attr("onclick", "doUpdateItemPrice('" + userId + "'," + itemid + "," + amount + ")");
	}
	
	function doUpdateItemAmount(userId, itemid, amount){
		var newAmount = $("#editamount").val();
		$.when(updateItemAmount(userId, itemid, amount, newAmount)).done(function(returncode) {
			//showMessage("แก้ไขจำนวนหน่วยสำเร็จ", "#data-message", function() {
				doLoadOrderList();
				$("#EditAmountFormDiv").toggle();
			//});
		});
	}

	function doUpdateItemPrice(userId, itemid, amount) {
		var newItemPrice = $("#itemprice").val();
		$.when(updateItemPrice(userId, itemid, amount, newItemPrice)).done(function(returncode) {
			//showMessage("แก้ไขราคาต่อหน่วยสำเร็จ", "#data-message", function() {
				doLoadOrderList();
				$("#EditItemPriceFormDiv").toggle();
			//});
		});
	}

	function doOpenAddOrderForm(userId){
		$("#AddOrderFormDiv").toggle();
		var promiseList = new Promise(function(resolve,reject){
			$.when(getGroupList()).done(function(groupData) {
				$("#group").empty();
				groupData.forEach(function(item){
					$("#group").append("<option value='" + item.id + "'>" + item.name + "</option>");
				});
			});
			setTimeout(()=>{
				resolve($("#group"));
			},1200);
		});
		Promise.all([promiseList]).then((ob)=>{
			doGroupChange();
			$("#saveAddItemBtt").attr("onclick", "doAddItemOrder('" + userId + "')");
		});
	}

	function doGroupChange(){
		var groupid = $("select#group").val();
		$.when(getItemList(groupid)).done(function(itemData) {
			$("#item").empty();
			itemData.forEach(function(item, inx){
				$("#item").append("<option value='" + item.id + "'>" + item.name + "</option>");
			});
		});
	}

	function doAddItemOrder(userId) {
		var amount = $("#amount").val();
		if(!(isNaN(amount)) && (amount != "")){
			var itemid = $("#item").val();
			$.when(getItem(itemid)).done(function(itemData) {
				var data = {itemid: itemData[0].id, itemname: itemData[0].name, itemunit: itemData[0].unit, itemprice: itemData[0].price, amount: amount, itemstatus: 3};
				$.when(postAddItemOrder(userId, data)).done(function(code) {
					//showMessage("เพิ่มรายการสำเร็จ", "#data-message", function() {
						doLoadOrderList();
						$("#AddOrderFormDiv").toggle();
					//});
				});
			});
		} else {
			alert("โปรดป้อนจำนวน(หน่วย)เป็นตัวเลขด้วยครับ");
			$("#amount").focus();
		}
	}

	function toggleContent(code){
		$("#"+code).toggle();
	}

	function doOpenDiscountForm(userId) {
		$("#DiscountFormDiv").toggle();
		$("#saveDiscoutBtt").attr("onclick", "doDiscountOrder('" + userId + "')");
	}

	function doCheckBiil(userId){
		$("#CloseBillFormDiv").toggle();
		$("#closeBillBtt").attr("onclick", "doCloseBill('" + userId + "')");
	}

	function doCloseBill(userId){
		var paytype = $("#paytype").val();
		var netAmount = $("#netAmount").text();
		$.when(postCloseBill(userId, paytype, netAmount)).done(function(code) {
			//showMessage("จัดส่งบิลให้ลูกค้าชำระเงินแล้ว", "#data-message", function() {
				//if(confirm("ต้องการปิดบิลเพื่อออกใบเสร็จรับเงินให้ลูกค้าเลยหรือไม่? ตอบ ตกลง หาก ใช่")==true){
					alert("จัดส่งบิลให้ลูกค้าชำระเงินแล้ว");
					doLoadOrderList();
					$("#CloseBillFormDiv").toggle();
				//}
			//});
		});
	}

	function doTransformStatus(code){
		if(code=="0"){
			return "Cancel";
		} else if(code=="1"){
			return "New";
		} else if(code=="2"){
			return "Pending";
		} else if(code=="3"){
			return "Deliveried";
		}
	}

	function doToggleChangeItemStatus(userId, itemid, amount){
		$("#ChangeItemStatusFormDiv").toggle();
		$("#changeStatusBtt").attr("onclick", "doChangeItemStatus('" + userId + "'," + itemid + "," + amount + ")");
	}

	function doChangeItemStatus(userId, itemid, amount){
		var itemstatus = $("#itemstatus").val();
		$.when(changeStatusOrderItem(userId, itemid, amount, itemstatus)).done(function(code) {
			//showMessage("เปลี่ยนสถานะรายการสำเร็จ", "#data-message", function() {
				doLoadOrderList();
				$("#ChangeItemStatusFormDiv").toggle();
			//});
		});
		/* ที่ต้องทำต่อ เมื่อ itemstatus =0 และ 2 จะต้องแจ้งกลับให้ลูกค้าผู้สั่งทราบด้วย*/
	}

	function doCreateBill(userId, total){
		$.when(doCheckBillClosed(userId)).done(function(closed) {
			if(closed.code > 0 ) {
				$("#CreateBillFormDiv").toggle();
				$("#payamount").val(total);
				$("#createBillBtt").attr("onclick", "doSaveOrderAndCreateBill('" + userId + "'," + total + ")");
			} else {
				alert("โปรดปิดบิลเพื่อเลือกวิธีชำระเงินของลูกค้าก่อนครับ");
			}
		});
	}

	function doSaveOrderAndCreateBill(userId, total){
		var payAmount = $("#payamount").val();
		if(!(isNaN(payAmount))) {
			$("#CreateBillFormDiv").toggle();
			//Save Order to DB.
			$.when(saveOrder(userId, payAmount, total)).done(function(ordercode) {
				//Clear temp in Session.
				$.when(deleteOrder(userId)).done(function(code) {
					//Insert New Bill Data to DB, and Render Bill.
					$.when(createBill(userId, payAmount, total, ordercode.id)).done(function(billLink) {
						alert("จัดทำใบเสร็จและส่งไปให้ลูกค้่าแล้วครับ");
						$("#CreateBillFormDiv").toggle();
						doLoadOrderList();
					});
				});
			});
		} else {
			alert("โปรดระบุยอดจำนวนเงินที่รับจากลูกค้าด้วยครับ");
			$("#payamount").focus();
		}
	}

</script>
